<!-- Page related scripts -->
<!-- Page related scripts -->

<script type="application/javascript">

    $(document).ready(function (e) {
       
    }); // document.ready
    
</script>

<div id="content"></div>